/* selector { propiedad: valor;}
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');
body{font-family: 'Roboto', sans-serif;
background-color: black;
}
/*Header*/
h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: white;
    list-style: none;
    text-decoration: none;
}
p{
    color: white;
}
li{
    list-style: none;
}
/*Header*/

/*Inicio (html 1)*/





/*Inicio (html 1)*/

/*Contacto (html 2)*/





/*Contacto (html 2)*/

/*Gastronomia (html 3)*/





/*Gastronomia (html 3)*/

/*Promociones (html 4)*/




/*Promociones (html 4)*/

/*Sobre Nosotros (html 5)*/



/*Sobre Nosotros (html 5)*/

