/* selector { propiedad: valor;}
*/


/*Header*/
body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: white;
}
h2{
    color: white;
}
p{
    color: white;
}

/*Header*/

/*Inicio (html 1)*/





/*Inicio (html 1)*/

/*Contacto (html 2)*/





/*Contacto (html 2)*/

/*Gastronomia (html 3)*/





/*Gastronomia (html 3)*/

/*Promociones (html 4)*/




/*Promociones (html 4)*/

/*Sobre Nosotros (html 5)*/



/*Sobre Nosotros (html 5)*/

