/* selector { propiedad: valor;}
*/


/*Head*/

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
h1{
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
p{
    color: white;
}
.navegador{
display: inline-flex;
}
a{
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

/*Head*/

/*Index*/
.subtitulo1{
    margin-left: 50px;
}

.imagen1_abajo{
    text-align: right;
}
.text1{
    text-align: right;
    padding-right: 50px;
}
.img1{
    margin-left: 50px;
}
.parrafo1{
    margin-left: 50px;
    font-size: 20gpx;
}

/*Index*/
/*Contacto */

li{
    color: white;
    list-style-type: none
}
.subtitulo2{
    margin-left: 50px;
}
.img2{
    margin-left: 50px;
}
.text2{
    margin-left: 50px;
}
.form1{
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    border-radius: 10px;
    margin: 20px 1600px 20px 50px;
    padding: 20px 20px 20px 0px;

}
.enviar{
    margin: 50px 0px 0px 0px;
}

/*Contacto */
/*Gastronomia*/
.subtitulo3{
    margin-left: 50px;
}
.div3_up{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 200px;
}
.img3{
    margin-left: 50px;
    width: 450px;
}
.parrafo3{
    margin-left: 70px;
    text-align: left;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 50px 50px 50px 50px;
}
.div3{
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
    flex-direction: column;
    margin: 50px 50px 50px 50px;
}
.sub3{
    margin-left: 20px;
    
}
.comida3{
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 800px;
    flex-wrap: wrap;
}
/*Gastronomia */

/*Promociones */
.subtitulo4{
    margin-left: 50px;
}
.div_arriba{
    display: flex;
    border: 1px solid white;
    border-radius: 10px;
    margin: 20px 50px 20px 50px;

}
.img4{
    margin: 50px 20px 20px 50px;
    width: 900px;
    padding-bottom: 30px;
}
.parrafo_arriba{
    margin: 20px 80px 20px 20px;
    font-size: 25px;
   padding-bottom: 10px;
}
.div_abajo{
    border: 1px solid white;
    border-radius: 10px;
    margin: 50px 50px 50px 50px;
    
}
.parrafo4{
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}
/*Promociones */

/*Informacion */
.subtitulo5{
    margin-left: 50px;
}
.div_info{
    display: flex;
    
}
.parrafo5{
    margin: 40px 50px 50px 0px;
    font-size: 25px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 100px 50px 100px 50px;
    text-align: center;
    
    
    
    
}
.img5{
    margin: 20px 50px 50px 50px;
    padding: 20px 20px 0px 0px;
}
.redes{
    border: 1px solid white; 
    border-radius: 10px;
    margin: 50px 50px 50px 50px;
    width: 500px;
}
/*Informacion */

/* formato celular iphone SE */


@media (max-width:375px) {

    /* Promociones */

    .imagen1_arriba{
        width: 160px;
        height: 100px;
        padding-left: 100px;
    }
    .navegador{
        font-size: 10px;
        padding: 0px 50px 0px 10px;
    }
    .div_arriba{
        flex-wrap: wrap;
        width: 300px;
        margin: 0px 0px 0px 30px; 
    }
    .div_abajo{
        width: 300px;
        margin: 20px 0px 0px 30px;
    }
   .parrafo_arriba{
    font-size: 10px;
    margin: 0px 0px 0px 0px;
    padding-right: 30px;
   }
   .parrafo_separado{
    font-size: 10px;
    padding-right: 20px;
   }
   .parrafo4{
    font-size: 10px;
    
   }
   .img4{
    width: 250px;
    height: 250px;
    margin: 20px 0px 0px 25px;
   }
   .imagen1_abajo{
    width: 150px;
    height: 100px;
    padding-left: 100px;
   }
   .text1{
    padding: 60px 0px 20px 0px;
    font-size: 10px;
   }

   /* Promociones */

   /* index */
   
   .subtitulo1{
    font-size: 20px;
    margin: 10px 10px 20px 150px;
}
.text1{
    margin: 10px 10px 30px 10px;
}
.img1{
    width: 250px;
    height: 300px;
}
.parrafo1{
    font-size: 15px;
    text-align: center;
    margin: 10px 10px 10px 10px;
}
.imagen1_determinada{
    width: 150px;
    height: 100px;
    
}
     /* index */
  

    

   
}


  
    
        
       
       
    
  

